.ctrls {
	display: grid;
	/* background-color: black; */
	grid-gap: 16px;
}

.toolbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* background-color: antiquewhite; */
	justify-items: center;
}

.wrapper {
	display: grid;
	grid-gap: 32px;
	/* background-color: aqua; */
}

.socials {
	display: grid;
	/* background-color: yellow; */
	grid-gap: 16px;
}

.avatar {
	display: grid;
	height: 160px;
	width: 160px;
	/* background-color: pink; */
}

.cover {
	/* background-color: yellowgreen; */
	display: grid;
	width: 100%;
}
